# This is the default configuration file for the xahaud daemon.
# Any modifications to this will require a restart of the xahaud daemon
# ./rippled --conf config/xahaud.cfg

[peers_max]
20

[overlay]
ip_limit = 1024

# [ledger_history]
# full

[network_id]
63456

[server]
port_rpc_admin_local
port_rpc_public
port_peer
port_ws_admin_local
port_ws_public

[port_rpc_admin_local]
port = 5005
ip = 0.0.0.0
admin = 0.0.0.0
protocol = http

[port_peer]
port = 51235
ip = 0.0.0.0
protocol = peer

[port_ws_admin_local]
port = 6006
ip = 0.0.0.0
admin = 0.0.0.0
protocol = ws


[port_ws_public]
port = 6008
ip = 0.0.0.0
protocol = ws
secure_gateway = 127.0.0.1
limit = 50000
send_queue_limit = 20000
websocket_ping_frequency = 10

[port_rpc_public]
port = 5007
ip = 0.0.0.0
protocol = http

[node_size]
tiny

[node_db]
type=NuDB
path=db/nudb
open_files=2000
filter_bits=12
cache_mb=256
file_size_mb=8
file_size_mult=2
online_delete=256
advisory_delete=0

[ledger_history]
256

[database_path]
db

[debug_logfile]
debug.log

[sntp_servers]
time.windows.com
time.apple.com
time.nist.gov
pool.ntp.org

[validators_file]
validators.txt

[rpc_startup]
{ "command": "log_level", "severity": "trace" }

[ssl_verify]
0

[peer_private]
0

[ips_fixed]
r.ripple.com 51235

[voting]
account_reserve = 1000000
owner_reserve = 200000
reference_fee = 10